ul{
    list-style-type: none;
    padding-bottom: 100px;
}

li{
    display: inline-block;
    vertical-align: middle;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding-right: 8px;
    text-decoration: none;
  }

  .gmail-icon{
      border-radius: 100px;
      vertical-align: middle;
  }